@font-face {
    font-family: 'Modern No. 20';
    src: url('hinted-Modern-Regular.woff2') format('woff2'),
        url('hinted-Modern-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, li, button {
  font-family: 'Modern No. 20';
	color: #046a38;
}

.navbar-brand {
  font-family: 'Modern No. 20';
}
.navbar-nav {
  color: rgb(4, 106, 56);
}
.btn, .btn-default {
  font-family: 'Modern No. 20';
  color: #046a38;
  font-size: 25px;
}

.row {
  margin: auto;
}
/* .carousel {
  margin: auto;
  transition: 0.7s, ease-in-out left;
} */

.helpButtons{
  margin: auto;
}
.btn:hover {
  color: #83bb30;
}

.color1 {
  color: #046a38;
}
.colour2 {
  color: #83bb30;
}
