@font-face {
    font-family: 'Modern No. 20';
    src: url('hinted-Modern-Regular.woff2') format('woff2'),
        url('hinted-Modern-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
  font-family: 'Modern No. 20';
}

.navbar-brand {
  font-family: 'Modern No. 20';
}
